        body {
          font-family: 'Rethink Sans', sans-serif;
          background: linear-gradient(90deg, #0F0F12, #26004B);
          color: #fff;
  background-image: url('fl.png');
  background-size: cover; /* Ajusta a imagem para cobrir todo o container */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  filter: blur(13px);
}
body:hover {
  filter: blur(0px);
  transition: 0.5s;
}
button{
 
 color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: white;
  height: 50px;
  width: 190px;
  border: 3px solid #0000;
  border-radius: 50px;
  background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        #898DFB,
        #FF007F
      ) border-box;
  animation: 8s rotate linear infinite;
  font-family: Poppins, sans-serif;
  transition: 0.5s;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
h1{
  font-size: 60px;
}
button:hover{
 
 color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: white;
  height: 50px;
  width: 190px;
  border: 3px solid #0000;
  border-radius: 50px;
  background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        #D8D9FF,
        #5D5D5D
      ) border-box;
  animation: 0.1s rotate linear infinite;
  font-family: Poppins, sans-serif;
  box-shadow: 5px 8px 15px rgba(135, 24, 255, 1);
  transition: 0.5s;
}
